.header-bg{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/src/assets/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}